/* Table Of Content - start
================================================== */
/* 
* Project Name   :  Uniaa – Agency & Consulting Site Template.
* File           :  CSS Base
* Version        :  1.0.0
* Author         :  xstheme (https://themeforest.net/user/xstheme/portfolio)
* Developer			 :	webrok (https://www.fiverr.com/webrok?up_rollout=true)

================================================== */

// Template Global Settings
@import '../../assets/scss/variable';
@import '../../assets/scss/fonts';
@import '../../assets/scss/reset';

// Template Elements
// @import 'elements/color';
@import '../../assets/scss/elements/preloader';
@import '../../assets/scss/elements/backtotop';
@import '../../assets/scss/elements/space';
@import '../../assets/scss/elements/list';
@import '../../assets/scss/elements/button';
@import '../../assets/scss/elements/typography';

// Template Parts
@import '../../assets/scss/template-parts/header';

:root {
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0));
}

// Line Animation - Start
.line_wrap {
	top: 0;
	bottom: 0;
	left: 50%;
	width: 80%;
	z-index: -1;
	display: block;
	position: fixed;
	transform: translateX(-50%);
	border-left: 1px solid rgba(255, 255, 255, 0.03);
}
.line_wrap:before {
	width: 1px;
	left: -1px;
	content: "";
	height: 100px;
	position: absolute;
	animation: lineAnimate 15s ease-out infinite;
	background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3), transparent);
}
.line_wrap .line_item {
	width: 20%;
	float: left;
	height: 100%;
	position: relative;
	display: inline-block;
	border-right: 1px solid rgba(255, 255, 255, 0.03);
}
.line_wrap .line_item:before {
	width: 1px;
	right: -1px;
	content: "";
	height: 100px;
	position: absolute;
}
.line_wrap .line_item:nth-child(odd):before {
	animation: lineMove 15s ease-out infinite;
	background-image: linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.3));
}
.line_wrap .line_item:nth-child(even):before {
	animation: lineAnimate 15s ease-out infinite;
	background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3), transparent);
}

@keyframes lineAnimate {
	0% {
		top: 0px;
		opacity: 1;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 100%;
		opacity: 0.5;
	}
}
@keyframes lineMove {
	0% {
		opacity: 1;
		bottom: 0px;
	}
	50% {
		bottom: 50%;
	}
	100% {
		bottom: 100%;
		opacity: 0.5;
	}
}
// Line Animation - End

// Heading Block - Start
.heading_block {
	margin-bottom: 57px;
}

[class*="bg-gradient"] {
	--bs-bg-opacity: 0;
}
.bg-gradient {
	padding: 30px 50px 50px;
	border-radius: 20px;
	backdrop-filter: blur(6px);
}
// Heading Block - End

// Fancy Text Animation - Start
.cd-words-wrapper {
	text-align: left;
	position: relative;
	display: inline-block;

	b {
		top: 0;
		left: 0;
		position: absolute;
		white-space: nowrap;
		display: inline-block;
		&.is-visible {
			position: relative;
		}
	}

	.no-js & b {
		opacity: 0;
		
		&.is-visible {
			opacity: 1;
		}

	}
}
.cd-headline.clip {
	span {
		display: inline-block;
	}

	.cd-words-wrapper {
		overflow: hidden;
		vertical-align: top;
		padding-bottom: 2px;
	}

	b {
		opacity: 0;
		font-weight: inherit;
		color: var(--bs-primary);
		background-color: var(--bs-dark);
		&.is-visible {
			opacity: 1;
		}
	}
}
// Fancy Text Animation - End

// Hero Section - Start
.hero_section {
	padding: 180px 0 160px;
	h1 {
		font-size: 70px;
		font-weight: 800;
		line-height: 1.1;
		margin: 18px 0 20px;
		u {
			color: var(--bs-primary);
			text-decoration-thickness: 2px;
		}
	}
	p {
		font-size: 20px;
		max-width: 740px;
		line-height: 1.6;
		margin: auto auto 40px;
		strong {
			font-weight: 700;
		}
	}
}

.intro_heading {
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	color: var(--bs-dark);
}

.hero_features_group {
	gap: 2px;
	margin: 80px 0 0;
	>li {
		max-width: 140px;
		position: relative;
		align-items: center;
		border-radius: 70px;
		display: inline-flex;
		flex-direction: column;
		padding: 40px 15px 46px;
		justify-content: flex-start;
		background-color: var(--bs-dark);
		background-image: linear-gradient(0deg, transparent 30%, rgba(255, 255, 255, 0.06) 100%);
		&:nth-child(even) {
			transform: translateY(40px);
			background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.06) 0%, transparent 70%);
		}
	}

	i {
		width: 50px;
		height: 50px;
		font-size: 34px;
		margin-bottom: 20px;
		align-items: center;
		display: inline-flex;
		justify-content: center;
		color: var(--bs-primary);
	}
	span {
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
		color: var(--bs-white);
	}
}
// Hero Section - End

// Pages Section - Start
.page_card_block {
	padding: 26px;
	border-radius: 12px;
	transition: var(--bs-transition);
	background-color: #eaeaea;
	.block_image {
		a {
			height: 424px;
			display: block;
			overflow: hidden;
			border-radius: 14px;
			border: 2px solid var(--bs-border-color);
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center top;
			&:hover {
				border-color: var(--bs-primary);
				background-position: center bottom;
				transition: background-position 1.5s ease-in;
			}
		}
	}
	.block_content {
		padding: 36px 20px 16px;
	}
	.block_title {
		font-size: 28px;
		font-weight: 600;
		margin-bottom: 20px;
	}
}
.btn_unfill {
	font-size: 16px;
	font-weight: 500;
}

.home_pages_section {
	.page_card_block {
		.block_image {
			a {
				&:hover {
					transition: background-position 5s ease-in;
				}
			}
		}
	}
}
// Pages Section - End

// Popular Feature Section - Start
.row:has(.popular_feature_block) {
	margin: -12px;
	[class*="col-"] {
		padding: 12px;
	}
}
.popular_feature_block {
	padding: 40px 36px;
	transition: var(--bs-transition);
	background-color: var(--bs-secondary);
	.block_icon {
		height: 50px;
		img {
			max-height: 45px;
		}
	}
	h3 {
		line-height: 1;
		font-size: 20px;
		font-weight: 600;
		margin: 38px 0 18px;
	}
	p {
		margin: 0;
		font-size: 15px;
		line-height: 22px;
	}
}
// Popular Feature Section - End

// Feature Section - Start
.row:has(.feature_block) {
	margin: -4px;
	[class*="col-"] {
		padding: 4px;
	}
}
.feature_block {
	gap: 16px;
	display: flex;
	border-radius: 6px;
	align-items: center;
	padding: 20px 24px 20px 20px;
	transition: var(--bs-transition);
	background-color: var(--bs-secondary);
	border: 1px solid rgba(255, 255, 255, 0.04);
	&:hover {
		border-color: rgba(255, 255, 255, 0.12);
	}
	.block_icon {
		width: 50px;
		height: 50px;
		flex: 0 0 auto;
		font-size: 30px;
		align-items: center;
		display: inline-flex;
		justify-content: center;
		color: var(--bs-primary);
	}
	h3 {
		margin: 0;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}
}
// Feature Section - End

// Site Footer - Start
.site_footer {
	.heading_block .heading_title {
		font-size: 66px;
		font-weight: 800;
		line-height: 1.15;
		color: var(--bs-white);
	}
	.heading_block .heading_description {
		opacity: 0.8;
		margin: auto;
		font-size: 20px;
		max-width: 700px;
		color: var(--bs-white);
	}
}
// Site Footer - End

@media screen and (max-width: 1199px) {
	.hero_section h1 {
		font-size: 60px;
	}
	.intro_heading {
		font-size: 18px;
		line-height: 26px;
	}
	.hero_section p {
		font-size: 18px;
		max-width: 660px;
	}
	.heading_block .heading_title {
		font-size: 48px;
		line-height: 58px;
	}
	.page_card_block .block_title {
		font-size: 24px;
	}
	.site_footer .heading_block .heading_title {
		font-size: 50px;
	}
	.site_footer .heading_block .heading_description {
		font-size: 18px;
	}
}

@media screen and (max-width: 1024px) {
	.bg-gradient {
		padding: 80px 50px;
	}
}

@media screen and (max-width: 991px) {
	.container {
		max-width: 730px;
	}
	.hero_section h1 {
		font-size: 42px;
	}
	.hero_section p {
		font-size: 16px;
		max-width: 570px;
	}
	.intro_heading {
		font-size: 16px;
		line-height: 24px;
	}
	.hero_features_group > li:nth-child(even) {
		transform: translateY(0px);
		background-image: linear-gradient(0deg, transparent 30%, rgba(255, 255, 255, 0.06) 100%);
	}
	.bg-gradient {
		padding: 80px;
	}
	.heading_block .heading_title {
		font-size: 38px;
		line-height: 48px;
	}
	.feature_block h3 {
		font-size: 17px;
		line-height: 22px;
	}
	.feature_block {
		gap: 12px;
		padding: 16px 20px 16px 16px;
	}
	.btn {
		gap: 6px;
		padding: 12px 24px;
	}
	.mobile_menu_btn {
		width: 48px;
		height: 48px;
		font-size: 22px;
	}
	.site_header {
		padding: 15px 0;
	}
	.site_header .main_menu {
		top: 78px;
	}
	.site_header.sticky .main_menu {
		top: 69px;
	}
	.hero_section {
		padding: 170px 0 120px;
	}
	.site_footer .heading_block .heading_title {
		font-size: 42px;
	}
	.site_footer .heading_block .heading_description {
		max-width: 580px;
	}
	.feature_block h3 {
		font-size: 16px;
	}
}

@media screen and (max-width: 767px) {

	.bg-gradient {
		padding: 80px 30px 40px;
	}
	.page_card_block .block_image a {
		height: 240px;
	}
	.page_card_block {
		padding: 20px;
	}
	.page_card_block .block_title {
		font-size: 20px;
	}
	.page_card_block .block_content {
		padding: 24px 10px 20px;
	}
	.btn_unfill {
		font-size: 14px;
	}
	.page_card_block .block_title {
		margin-bottom: 12px;
	}
	.site_footer .heading_block .heading_title {
		font-size: 38px;
	}
	.site_footer .heading_block .heading_description {
		font-size: 16px;
		max-width: 500px;
	}
	.heading_block {
		margin-bottom: 50px;
	}
	.heading_block .heading_title {
		margin-bottom: 10px;
	}
	.section_space {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.btns_group > li:last-child {
		display: none;
	}
}

@media screen and (max-width: 575px) {
	.hero_section h1 {
		font-size: 38px;
	}
	.hero_features_group i {
		width: 40px;
		height: 40px;
		font-size: 30px;
		margin-bottom: 14px;
	}
	.hero_features_group span {
		font-size: 13px;
		line-height: 20px;
	}
	.hero_features_group > li {
		max-width: 130px;
		border-radius: 50px;
	}
	.hero_features_group {
		margin: 60px 0 0;
	}
	.hero_section p {
		font-size: 15px;
		max-width: 490px;
	}
	.site_footer .heading_block .heading_title {
		font-size: 34px;
	}
	.section_space {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.page_card_block .block_title {
		font-size: 26px;
	}
	.cd-headline.clip .cd-words-wrapper {
		left: 50%;
		display: block;
		text-align: center;
		transform: translateX(-50%);
	}
	.hero_features_group i {
		width: 34px;
		height: 34px;
		font-size: 24px;
		margin-bottom: 14px;
	}
	.hero_features_group span {
		font-size: 13px;
		line-height: 18px;
	}
	.hero_features_group > li {
		border-radius: 20px;
		padding: 30px 15px 30px;
	}
	.bg-gradient {
		margin: 0 -15px;
		padding: 80px 15px;
	}
}

@media screen and (max-width: 425px) {
	.hero_section h1 {
		font-size: 30px;
	}
	.heading_block .heading_title {
		font-size: 28px;
		line-height: 36px;
	}
	.page_card_block .block_title {
		font-size: 22px;
	}
	.feature_block {
		text-align: center;
		flex-direction: column;
		padding: 20px 16px 26px;
	}
	.feature_block h3 {
		font-size: 14px;
	}
	.site_footer .heading_block .heading_title {
		font-size: 28px;
	}
}