/*=============================
	28. Pricing page CSS start
===============================*/
.pricing-section {
  padding: 161px 0 218px 0;

  .pricing-item {
    background-color: var(--bs-bg-color6);
    padding: 45px 48px 55px;
    height: 100%;
    border: 1px solid transparent;
    transition: var(--bs-transition);

    .pricing-title {
      color: var(--bs-text-color1);
      font-family: var(--bs-font-secondary);
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 132%;
      margin-bottom: 8px;
    }

    .package-title {
      color: var(--bs-text-color2);
      font-size: 18px;
      font-weight: 500;
      line-height: 160%;
      margin-bottom: 26px;
    }

    .price {
      color: var(--bs-text-color1);
      font-family: var(--bs-font-secondary);
      font-size: 32px;
      font-weight: 600;
      line-height: 132%;

      span {
        color: var(--bs-text-color2);
        font-family: var(--bs-font-secondary);
        font-size: 20px;
        font-weight: 500;
        line-height: 132%;
        margin-left: 21px;
      }
    }

    .pricing-info {
      margin-top: 60px;

      li {
        color: var(--bs-text-color2);
        font-size: 18px;
        font-weight: 500;
        line-height: 160%;
        margin-bottom: 8px;

        span {
          padding-right: 10px;
        }
      }
    }

    .view-all-btn2 {
      border-bottom: 1px solid var(--bs-text-color2);
      padding-right: 0;
      margin-top: 51px;
    }

    &:hover {
      border-color: var(--bs-border-color11);
    }
  }

  .pricing-item.active {
    border-color: var(--bs-border-color11);
  }
}

@media (max-width: 1199.98px) {
  .pricing-section .pricing-item {
    padding: 30px 24px 30px;
  }

  .pricing-section .pricing-item .pricing-title {
    font-size: 28px;
  }

  .pricing-section .pricing-item .package-title {
    margin-bottom: 16px;
  }

  .page-header .page-header-shape {
    display: none;
  }

  .pricing-section .pricing-item .price {
    font-size: 26px;
  }

  .pricing-section .pricing-item .pricing-info li {
    font-size: 16px;
  }

  .pricing-section .pricing-item .view-all-btn2 {
    margin-top: 26px;
  }

  .pricing-section {
    padding: 100px 0 100px 0;
  }
}

@media (max-width: 767.98px) {
  .pricing-section {
    padding: 80px 0 80px 0;
  }
}

@media (max-width: 575.98px) {
  .pricing-section .pricing-item .pricing-title {
    font-size: 26px;
  }

  .pricing-section .pricing-item .package-title {
    font-size: 16px;
  }
}